---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
---

<BaseLayout>
  <h1>博客</h1>
  <p>欢迎来到我的博客！</p>
  <ul>
    {
      allPosts.map((post: any) => {
        return (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
